@import "./dependencies.scss";
@import "./variables.scss";
@import "./fonticon.scss";

body {
  // General configuration
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;

  background-color: $white;
  color: $black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
  }

  main {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
    align-items: center;

    div.main-view {
      max-width: 1440px;
      width: 100%;
      display: flex;
    }
  }

  footer {
    background-color: $black;
    color: $white;
  }
}
